body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chart {
    margin-left: 50px;
    margin-right: 50px;
}

.chart svg {
    width: 100%;
    min-height: 400px;
}

.chart-caption {
  margin-left: 5%;
  margin-right: 5%;

  right: 15%;
  left: 15%;
  z-index: 10;
  /*padding-top: 20px;*/
  color: black;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.chart-caption h4 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}

.chart-footer {
  
  margin-right: 10%;
  text-align: right;
  font-size: x-small;
}

.loaderImage {
  position: absolute; 
  left: 50%; 
  top: 60%; 
  margin: -8px 0 0 8px;
}


*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

#map{
    height: 500px;
    width: 450px;
    border: solid 1px black;
}

/*Required to resolve a conflict between nvd3 and Leaflet css files*/
.leaflet-overlay-pane svg {
    width: auto;
    height: auto;
}

.areaname{
    /*position: absolute;
    top:2em;
    right:1em;*/
    z-index:6;
    display:none;

    border: solid 1px #CDCDCD;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
  }

.info {
    position: center;
    
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 180px;
    text-align: center;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info span {
    font-size:smaller;
}

/*CUSTOMISE THE D3 CHART*/


.nvd3 .nv-axis.nv-x {
  stroke-opacity: 0;
}

.trend .nvd3 .nv-axis.nv-x {
  stroke-opacity: 1;
}

.nvd3.nv-noData {
    font-size:larger !important;
    font-weight: 200 !important;
}

  /*.nvtooltip { position: absolute;
background-color: rgba(255,255,255,1.0);
padding: 1px;
margin: -50px;}*/

  /*.nvd3 line.nv-guideline { //* Hide the guideline 
            display: none;
            stroke-width: 0.0;
        }*/
        .nvd3 .nv-bars rect { /* fix the hover guideline to be snappy */
            transition: fill-opacity 0ms linear;
            -moz-transition: fill-opacity 0ms linear;
            -webkit-transition: fill-opacity 0ms linear;
        }
        .nvd3 .nv-x .nv-axis .x-axis-tick-mark {
            stroke: #000; /* black tick marks */
        }
        .nvd3 .nv-y .nv-axis .tick.zero line {
            stroke: #000; /* black line for the x axis */
        }

/* CUSTOMISE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
  margin-bottom: 50px;
  margin-top:50px;
}*/

.carousel-inner{
  width:100%;
  min-height: 550px !important;

}

.carousel-control.left, .carousel-control.right{ 
    background: none !important; 
    filter: none !important; 

}
.carousel-control.left {
    /*margin-left: -45px; 
    margin-top:-15px;*/ 
    
    color: black;
}
.carousel-control.right {
    /*margin-top:-15px; 
    margin-right: -45px;*/ 
    color: black;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    top: 5%;

}


