@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    @*<script type="text/javascript"  src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>  
    @*<script src="~/Scripts/d3/d3.js"></script>*@
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="~/Content/nv.d3.min.css" rel="stylesheet">
    <script src="~/Scripts/nv.d3.min.js"></script>
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/livestamp.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/0.5.9/chroma.min.js"></script>

    <script src="http://d3js.org/topojson.v1.min.js"></script>
    
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
}

<div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h1>General Election 2015  voting preferences on Twitter</h1>
          <p>The General Election 2015 Twitter tracker, highlights the near real-time voting preferences of Great Britain’s Twitter users.</p>
          <p>Twitter is often cited as being a good surrogate for indicating uncertain outcomes and events. As we speak, millions of political conversations around the General Election 2015 are happening on Twitter. Many of theses messages, are offering influence and speculation on the political outcome of Thursday 07 May 2015. This raises two interesting questions - can the voting preferences on Twitter help us better track and understand Great Britain's offline political preferences, and also, what is the importance of Twitter as a medium for political influence?</p>
          <p>To help answer these questions and demonstrate the value of Great Britain’s Twitter conversations, Altius have created a data driven and machine-learnt solution which will enable you to interact and track how popular a political party is, on Twitter, across the UK and at a given County level.</p>
          <p>For more information on Altius and to find out how we created this solution please click <a id="linkToContact" data-toggle="collapse" data-parent="#accordion" href="#section3">here</a></p>
      </div>
</div>
<div class="row">
    <div class="col-md-7">

        <!-- Carousel-->
        <div id="myCarousel" class="carousel slide" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2" ></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="chart-caption">
                            <h4>Net Voting Preference by Political Party (dummy data)</h4>
                        </div>
                        <img class="loaderImage" id="loaderImage0" src="~/Content/images/ajax-loader.gif" display="none" />
                        <div id="chart0" class="chart">
                            <svg></svg>
                            
                        </div>
                        <div class="chart-footer" id="chart-footer0">
                            Data last updated: <span id="pageUpdatedOn0" data-livestamp=""></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="chart-caption">
                            <h4>Percentage of Net Voting Preference by Political Party (%) (dummy data)</h4>
                        </div>
                        <img class="loaderImage" id="loaderImage1" src="~/Content/images/ajax-loader.gif" display="none" />
                        <div id="chart1" class="chart">
                            <svg></svg>

                        </div>
                        <div class="chart-footer" id="chart-footer1">
                            Data last updated: <span id="pageUpdatedOn1" data-livestamp=""></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="chart-caption">
                            <h4>Net Voting Sentiment by Political Party to Date  (dummy data)</h4>
                        </div>
                        <img class="loaderImage" id="loaderImage2" src="~/Content/images/ajax-loader.gif" display="none" />
                        <div id="chart2" class="chart trend">
                            <svg></svg>

                        </div>
                        <div class="chart-footer" id="chart-footer2">
                            Data last updated: <span id="pageUpdatedOn2" data-livestamp=""></span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="chart-caption">
                            <h4>Change in Voting Sentiment by Political Party (dummy data)</h4>
                        </div>
                        <img class="loaderImage" id="loaderImage3" src="~/Content/images/ajax-loader.gif" display="none" />
                        <div id="chart3" class="chart">
                            <svg></svg>

                        </div>
                        <div class="chart-footer" id="chart-footer3">
                            Data last updated: <span id="pageUpdatedOn3" data-livestamp=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <!-- /.carousel -->

    </div>
    <div class="col-md-5">
        <input type="hidden" id="selectedAreaId" />
        <input type="hidden" id="selectedAreaName" />
        <div id="map" class="map"></div>

    </div>
</div>
<div class="row" id="chartFooter">   
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#section1">How does it work?</a>
                    </h4>
                </div>
                <div id="section1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>There are three key elements to The General Election 2015 Twitter tracker. To demonstrate how to process large volumes of unstructured data in near real-time, classify and then visualise, we have used Microsoft’s Azure cloud based infrastructure and technology. This workflow is completed in a seamless end-to end manner.</p>
                        <ol>
                            <li>Data Provision</li>
                            <li>Classification & Analysis</li>
                            <li>Front-end visualisation</li>
                        </ol>
                        <p>
                            1. Data Provision
                            <ul>
                                <li>An Azure SQL Database was carefully configured to extract, transform and load Twitter conversations.</li>
                            </ul>
                        </p>
                        <p>
                            2. Classification & Analysis
                            <ul>
                                <li>Azure Machine Learning Studio, is used to build the classification model that identifies voting preference and political netVotePercent for each tweet in our SQL database.</li>
                                <li>Azure Stream Analytics is used to aggregate and apply the location information to the data.</li>
                                <li>The updated data is then written back and stored on the Azure SQL Database with the needed voting preference, political party and location assigned.</li>
                            </ul>
                        </p>
                        <p>
                            3.Front-end visualisation
                            <ul>
                                <li>Customer webpage is created using open source graphing charts libraries</li>
                                <li>A web-service API calls the necessary aggregated data</li>
                                <li>The data is updated twice daily in order to reduce data processing costs</li>
                            </ul>
                        </p>
                        <p>For more information on the specific of our methodology please email</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#section2">Frequently asked questions</a>
                    </h4>
                </div>
                <div id="section2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h3>Why County and not Constituency mapping?</h3>
                        <p>Due to the nuisances of Twitter usage it is very difficult to map General Election 2015 analysis to constituency level. Twitter users tend not to say exactly where they live or indeed our registered to vote. This is especially true in large cities like London.</p>
                        <p> County level, provides enough granularity to show how political parties fair in popularity and how this popularity may be reflected or influence the outcome of the General Election 2015 result for the given constituencies that our housed within a relevant County.</p>

                        <h3>What does Net Voting Preference mean?</h3>
                        <p> Twitter user can display many emotions and preferences towards political parties. Net Voting Preference is simply the positive voting preferences less the negative.</p>

                        <h3>What is ‘Swing’?</h3>
                        <p>This simply shows a unique Twitter user’s first voting preference vs their latest for the relevant political parties. This chart enables a viewer to see how preferences are changing and which party is ‘winning’ preference from another party and in what magnitude. A user who only tweets once is not included in the chart.</p>

                        <h3>Is Twitter representative of the UK population?</h3>
                        <p>No, Twitter is not. Some key voter demographic groups are under or over represented on Twitter. However, Twitter is a key media channel for political parties - just look at the effort of political parties to reach out to voters through this medium of interaction.</p>

                        <h3>What is machine learning?</h3>
                        <p>Machine learning is a key part of artificial intelligence which enables human insights and computers (machines) to do things such as play games and solve complex statistical-computation problems. Machine learning is normally used to solve very specific types of real world problems that can’t be solved using traditional Data Analysis or Business Intelligence. These problems can be broadly divided into three categories: Forecasting, Classification & Optimization. In this instance, we used machine learning to help train our model which classifies a Twitter user’s individual preferences towards the political parties.</p>

                        <h3>Predictive analytics is all the rage, why did you not predict General Election 2015</h3>
                        <p>The Data Science Practice are experts in implementing predictive analytics for commercial advantage. However, we also know we have to take things step by step. Accurately predicting the outcome of each of 650 constituencies for a General Election using Twitter is not an easy task. This is especially with the location mapping nuisances referenced above – in 2019 perhaps!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#section3">About Altius</a>
                    </h4>
                </div>
                <div id="section3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h2>About Altius</h2>
                        <p>We are a highly focused management consultancy firm who specialise in helping our clients achieve commercial advantage through the use of data. We enable our clients to better understand their customers, prospects & suppliers, model their behaviour and then predict this</p>
                        <div class="row">
                            <div class="col-md-4">
                                <h3><a href="http://altius.co.uk/strategy.html" target="_blank" title="Strategy">Strategy</a></h3>
                                <p>Developing compelling business strategies that enable companies to drive performance and gain new insights from the use of information.</p>
                            </div>
                            <div class="col-md-4">
                                <h3><a href="http://altius.co.uk/Data-Science.html" target="_blank" title="Data Science">Data Science</a></h3>
                                <p>Predictive analytics solutions that use artificial intelligence solutions to uncover hidden patterns, advanced forecasting and process optimisation giving greater business insight.</p>
                            </div>
                            <div class="col-md-4">
                                <h3><a href="http://altius.co.uk/visual-design.html" target="_blank" title="Design">Design</a></h3>
                                <p>Ensuring that the message is clearly communicated by applying user interface (ui) and user experience (ux) design principles to transform how data is presented and visualised across devices.<p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><a href="http://altius.co.uk/managed-services.html" target="_blank" title="Support">Support</a></h3>
                                <p>A full managed service solution that provides business, technical and infrastructure support for our clients data infrastructure. Our services include cloud, hosting, application and insight services</p>
                            </div>
                            <div class="col-md-6">
                                <h3><a href="http://altius.co.uk/solutions.html" target="_blank" title="Technology">Technology</a></h3>
                                <p>Implementing advanced technology to allow companies to convert their data to information. Our technology solution include Data Warehousing, Big Data and Machine learning solutions.</p>
                            </div>
                        </div>
                            <h2 id="ContactUs">Contact Altius</h2>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>For more information about Altius or to provide feedback on the work please contact xxx.</p>
                                    <p>You can also follow us on Twitter <a href="https://twitter.com/AltiusBI" target="_blank" title="Twitter">altiusbi</a></p>
                                </div>
                                <div class="col-md-4">
                                    <img src="~/Content/images/Logo.png" id="logo" />
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Copyright (c) 2013 Ryan Clark
    // https://gist.github.com/rclark/5779673
    L.TopoJSON = L.GeoJSON.extend({
      addData: function(jsonData) {
        if (jsonData.type === "Topology") {
          for (key in jsonData.objects) {
            geojson = topojson.feature(jsonData, jsonData.objects[key]);
            L.GeoJSON.prototype.addData.call(this, geojson);
          }
        }
        else {
          L.GeoJSON.prototype.addData.call(this, jsonData);
        }
      }
    });
</script>

<script type="text/javascript">

    var currentChartId = 0
    var currentChart = {
        0: { code: "netVote", type: "bar", api: "/api/NetVote", dataFormat: ",.f", min: 0, max: 0 },
        1: { code: "netVotePercent", type: "bar", api: "/api/NetVotePercent", dataFormat: "%" },
        2: { code: "netVoteTrend", type: "trend", api: "/api/NetVoteTrend", min: 0, max: 0 },
        3: { code: "swing", type: "swing", api: "/api/Swing" }
    };

    var selectedAreaId = 0


    $('.carousel').on('slide.bs.carousel', function (e) {
        currentChartId = $(e.relatedTarget).index();
        chartLoad(selectedAreaId);
    })

    //re-load chart if a specific area is selected
    $('#selectedAreaId').on("change", function () {
        selectedAreaId = $(this).val();
        if (selectedAreaId == '') selectedAreaId = 0;

        if ($('#dropdownMapAreas').val(selectedAreaId) != selectedAreaId) {
            $('#dropdownMapAreas').val(selectedAreaId);
            chartLoad(selectedAreaId);
        }
    }).triggerHandler('change');


    function updateLivestamp(lastUpdated){
        jQuery('#pageUpdatedOn'+currentChartId).livestamp(lastUpdated);
    }

    function chartOnPreLoad()
    {
        $('.chart-footer').hide();
        $('#loaderImage' + currentChartId).show();
    }

    function chartOnAfterLoad()
    {
        $('#chart-footer' + currentChartId).show();
        $('#loaderImage' + currentChartId).hide();
    }

   
    $(function () {
        //show area map
        mapLoad();
        //load chart by default
        chartLoad(selectedAreaId);
    });


    var selectedLayer;
    var pinnedLayer;
    var isLayerPinned = false;
    var info;

    function unselectLayer(layer) {
        if (!L.Browser.ie && !L.Browser.opera) {
            layer.bringToBack();
        }
        layer.setStyle({fillColor: '#bdbdbd', fillOpacity: 1, color: '#555', weight: 1, opacity: .5});
        info.update();
    }
    
    function resetToDefaultArea() {
        if (isLayerPinned){
            pinnerLayer = null;
            isLayerPinned = false;
        }
        unselectLayer(selectedLayer)
        selectedAreaId = 0;
        chartLoad(selectedAreaId);
    }

    function mapLoad() {
       
        // create a map object and set the view to the coordinates 44,-31 with a zoom of 10
        var map = L.map('map', { maxZoom: 8, minZoom: 5}),
            topoLayer = new L.TopoJSON(),
            $areaName = $('.areaname'),
            colorScale = chroma
                .scale(['#bdbdbd', '#bdbdbd'])
                .domain([0,1]);

        map.setView([55.6600933, -6.2659008], 5);

        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            minZoom: 5,
            maxZoom: 8
        }).addTo(map);

        //new L.control.zoom({ position: 'topright' }).addTo(map);

        $.getJSON('/Content/map.topo.json').done(addTopoData);
        function addTopoData(topoData) {
            topoLayer.addData(topoData);
            topoLayer.addTo(map);
            topoLayer.eachLayer(handleLayer);
        }

        function handleLayer(layer) {
            var randomValue = Math.random(),
              fillColor = colorScale(randomValue).hex();

            layer.setStyle({
                fillColor: fillColor,
                fillOpacity: 1,
                color: '#555',
                weight: 1,
                opacity: 0.5
            });


            layer.on({
                click: pinLayer,
                mouseover: enterLayer,
                //mouseout: leaveLayer
            });
        }

        info = L.control({position: 'bottomleft'});

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (name) {

            if (name) {
                this._div.innerHTML = '<h4>' + name + '</h4>' + '<br/>Reset to <button class="infoButton" onclick="resetToDefaultArea()">Great Britain</button><br/><br/>';
            }
            else {
                this._div.innerHTML = '<h4>Great Britain</h4><br/>';
            }
            this._div.innerHTML += '<br/><p style="font-text:smaller">Hover over to update chart on the left. Click on an area to explore all charts</p>'
        };

        info.addTo(map);

        function enterLayer(e) {
            var layer = e.target;

            if (!isLayerPinned) {


                if (selectedLayer) {
                    unselectLayer(selectedLayer)
                }

                layer.setStyle({
                    fillColor: '#800026',
                    color: 'white',
                    weight: 2,
                    opacity: 1,
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera) {
                    layer.bringToFront();
                }
                info.update(layer.feature.properties.name);
                selectArea(layer.feature.properties.geoshapeid, layer.feature.properties.name)

                selectedLayer = layer;
            }
            //else {
                //console.log("We have a pinned layer")
            //}

        }

        


        function pinLayer(e)
        {
            if (isLayerPinned && pinnedLayer == e.target) {
                //console.log("pinLayer: unpinned the existing layer")
                isLayerPinned = false;

                pinnedLayer = null;
            }
            else {
                //console.log("pinLayer: we have a new layer to be pinned")
                isLayerPinned = true;
                pinnedLayer = e.target;
            }
        }



        function selectArea(id, name) {
            $('#selectedAreaName').val(name);
            $('#selectedAreaId').val(id).change();
        }
    }

    function chartLoad(locationId)
    {
        var customNoDataText = "No data available for " + $('#selectedAreaName').val()

        var currentChartInfo = currentChart[currentChartId];
        chartOnPreLoad();
        $.ajax({
            type: "GET",
            url: currentChartInfo.api,
            data: {'id':locationId},
            cache: false,
            dataType: 'json',
            success: function (data) {
                chartOnAfterLoad()

                var chartData = null;

                if (currentChartInfo.code == "netVote") 
                {
                    chartData = NetVoteChartData(data, currentChartInfo);
                }
                else if (currentChartInfo.code == "netVoteTrend")
                {
                    chartData = NetVoteTrendChartData(data, currentChartInfo);
                }
                else if (currentChartInfo.code == "netVotePercent") {
                    chartData = NetVotePercentChartData(data);
                }
                else if (currentChartInfo.code == "swing") {
                    chartData = SwingChartData(data)
                }

                if (chartData[0].values.length > 0) 
                {
                    if (currentChartInfo.type == "bar") {
                        drawD3BarChartObject(chartData, currentChartInfo)
                    }
                    else if (currentChartInfo.type == "trend") {
                        drawD3LineChartObject(chartData)
                    }
                    else if (currentChartInfo.type == "swing") {
                        // swing
                        drawD3SwingChartObject(chartData)
                    }
                }
                else {
                    //delete all chart related objects
                    d3.select('#chart' + currentChartId).selectAll("*").remove()

                    //create a new "chart" with No Data text message
                    d3.select('#chart' + currentChartId).append('svg')
                    .append("text")
                    .attr("x", "235")
                    .attr("y", "35")
                    .attr("dy", "-.7em")
                    .attr("class", "nvd3 nv-noData")
                    .style("text-anchor", "middle")
                    .text(customNoDataText);
                }
            
            },
            error: function (response) {
                $('#loaderImage' + currentChartId ).hide();
            }
        });
    }

    function drawD3BarChartObject(chartData, currentChartInfo)
    {
        if (currentChartInfo.code == "netVote") {
            var formatter = d3.format(",d")
        }
        else if (currentChartInfo.code == "netVotePercent") {
            var formatter = d3.format(",.2%");
        }

        nv.addGraph(function(){
            generate:
                var chart = nv.models.discreteBarChart()
                    .x(function (d) { return d.label })
                    .y(function (d) { return d.value })
                    .valueFormat(function(d) { return formatter(d)})
                    .staggerLabels(true)
                    .showValues(true)
                    .tooltips(false);


            var tmpTicks = [[]];
            if (currentChartInfo.code == "netVote") {
                chart.yAxis.axisLabel("Number of Tweets")


                var closest10N = Math.pow(10, Math.floor(Math.log(chartData[0].maxValue) / Math.LN10));   // find the closest value 10^N to the given Max Value

                var maxTickValue = 0
                if ((chartData[0].maxValue - closest10N) / closest10N <= 0.5)   // additional logic to improve how values are spread on the chart
                {
                    maxTickValue = closest10N + Math.pow(10, Math.floor(Math.log(chartData[0].maxValue - closest10N) / Math.LN10))   
                }
                else
                {
                    maxTickValue = 5 * closest10N
                }

                // generate new tick values
                var maxTickValueCount = 5
                var tickVal = 0
                for (tickValCount = 0; tickValCount < maxTickValueCount; tickValCount++)
                {
                    tickVal += maxTickValue / maxTickValueCount
                    tmpTicks[0].push(tickVal)
                }
                
            }
            else if (currentChartInfo.code == "netVotePercent") {
                chart.yAxis.axisLabel("Percentage of Net Voting Sentiment (%)")

                tmpTicks = [[0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.7, 0.8, 0.9, 1]];
            }

            // use generated tickValues on yAxis            
            chart.yAxis
                .tickFormat(function (d) { return d3.format(currentChartInfo.dataFormat)(d); })
                .tickValues([].concat.apply([], tmpTicks));

            d3.select('#chart'+ currentChartId +' svg')
              .datum(chartData)
              .transition().duration(500)
              .call(chart)
            ;

            nv.utils.windowResize(chart.update);

            return chart;
        })
    }

    function drawD3LineChartObject(chartData)
    {

        nv.addGraph(function () {
            generate:
                var chart = nv.models.lineChart()
                    .x(function (d) { return d[0] })
                    .y(function (d) { return d[1] })
                    .options({
                        transitionDuration: 300,
                        useInteractiveGuideline: true
                    })
                    
            
            var tmpTickDates = chartData[0].values.map(function (e) { return e.values.map(function (d) { return d[0]; }); });

            chart.xAxis
                .showMaxMin(true)
                .tickFormat(function (d) { return d3.time.format('%d/%m')(new Date(d)); })
                .tickValues([].concat.apply([], tmpTickDates))
                .rotateLabels(-45);



            var tmpTicks = [[]];
            var valueRange = chartData[0].maxValue - chartData[0].minValue

            // generate new tick values
            var maxTickValueCount = 5
            var tickVal = chartData[0].minValue
            for (tickValCount = 0; tickValCount < maxTickValueCount - 1; tickValCount++)
            {
                tickVal += Math.round(valueRange / maxTickValueCount)
                tmpTicks[0].push(tickVal)
            }
                
            chart.yAxis
                .tickFormat(d3.format(',.1'))
                .tickValues([].concat.apply([], tmpTicks))          // use generated tickValues on xAxis            
                .axisLabel("Number of Tweets")


            d3.select('#chart' + currentChartId + ' svg')
              .datum(chartData[0].values)
              .transition().duration(500)
              .call(chart)
            ;

            nv.utils.windowResize(function () { chart.update() });

            return chart;
        })
    }

    function drawD3SwingChartObject(chartData) {
        generate:
            nv.addGraph(function () {
                chart = nv.models.parallelCoordinates()
                    .dimensions(["Original Net Voting Sentiment", "To Date Net Voting Sentiment"]);
                // make all lines the same color like this
                //chart.color(['steelblue']);
                d3.select('#chart' + currentChartId + ' svg')
                        .datum(chartData)
                        .call(chart);
                nv.utils.windowResize(chart.update);
                return chart;
            })
    }

    function NetVotePercentChartData(data) {

        if (data.data == null) {
            return [{
                values: [],
                key: "NetVotePercentChart"
            }];
        }

        updateLivestamp(data.lastUpdated)
        dataValues = data.data;

        var vals = [];
        for (var i in dataValues) {
            vals.push({ label: dataValues[i].name, value: dataValues[i].percent });
        }
        return [{
            values: vals,
            key: "NetVotePercentChart"
        }];
    }
    function NetVoteChartData(data, currentChartInfo) {
        updateLivestamp(data.lastUpdated)
        
        if (data.data == null)
        {
            return [{
                values: [],
                key: "NetVoteChart",
                minValue: 0,
                maxValue: 0
            }];
        }

        dataValues = data.data;
        
        var vals = [];
        var min = dataValues[0].count
        var max = dataValues[0].count;
        for (var i in dataValues) {

            if (dataValues[i].count < min) {
                min = dataValues[i].count
            }

            if (dataValues[i].count > max) {
                max = dataValues[i].count
            }
            vals.push({ label: dataValues[i].name, value: dataValues[i].count });
            

        }

        
        return [{
            values: vals,
            key: "NetVoteChart",
            minValue: min,
            maxValue: max
        }];

        
    }

    function NetVoteTrendChartData(data)
    {

        if (data.data == null) {
            return [{
                values: [],
                key: "TrendChart",
                minValue: 0,
                maxValue: 0
            }];
        }

        updateLivestamp(data.lastUpdated)
        dataValues = data.data

        minValue = dataValues[0].values[0][1]
        maxValue = dataValues[0].values[0][1]
        for (i in dataValues) {
            var seriesValues = dataValues[i]
            for (j in seriesValues.values) {
                if (seriesValues.values[j][1] > maxValue){
                    maxValue = seriesValues.values[j][1]
                }
                if (minValue > seriesValues.values[j][1]){
                    minValue = seriesValues.values[j][1]
                }
            }
        }
        return [{
            values: dataValues,
            key: "TrendChart",
            minValue: minValue,
            maxValue: maxValue
        }];
    }

    function SwingChartData(data) {
        //for (var key in data) {
        //    if (data.hasOwnProperty(key)) {
        //        updateLivestamp(key)
        //        dataValues = data[key];
        //    }
        //    break;
        //}

        //var vals = [];
        //for (var i in dataValues) {
        //    vals.push({ label: dataValues[i].name, value: dataValues[i].count });
        //}
        //return [{
        //    values: vals,
        //    key: "SwingChart"
        //}];

        return [
        {
            "name": "Lab",
            "Original Net Voting Sentiment": "150",
            "To Date Net Voting Sentiment": "220"
        },
        {
            "name": "Snp",
            "Original Net Voting Sentiment": "15",
            "To Date Net Voting Sentiment": "23"
        },
        {
            "name": "Con",
            "Original Net Voting Sentiment": "178",
            "To Date Net Voting Sentiment": "200"
        },
        {
            "name": "LD",
            "Original Net Voting Sentiment": "55",
            "To Date Net Voting Sentiment": "22"
        },
        {
            "name": "Grn",
            "Original Net Voting Sentiment": "3",
            "To Date Net Voting Sentiment": "5"
        },
        {
            "name": "Ukip",
            "Original Net Voting Sentiment": "2",
            "To Date Net Voting Sentiment": "-5"
        }
        ]

    }





</script>